################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BassThatHz_ASIO_DSP_Processor/bin/
/BassThatHz_ASIO_DSP_Processor/obj
/Test_Project_1/bin/
/Test_Project_1/obj
/BassThatHz_ASIO_DSP_Processor/BassThatHz_ASIO_DSP_Processor.csproj.user
/bin/Release/1
/Test_Project_1/bin/
/.continue
/TestResults
/.gitignore

/BassThatHz_ASIO_DSP_Processor/Properties/PublishProfiles
/Test_Project_1/bin/Release/net10.0-windows10.0.26100.0/win-x64
/.localpilot
/Test_Project_1/bin/Release/net10.0-windows10.0.26100.0
/WpfApp1/bin
/WpfApp1/obj
/WpfControlLibrary1/obj
/Test_Project_1/TestResults
/Test_Project_1/Test_Project_1.csproj.user
